.chat__header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid black;
  background-color: antiquewhite;
}

.chat__header__info {
  margin-left: 20px;
}
.chat {
  display: flex;
  flex-direction: column;

  /* height: 100%; */
}

.chat__messages {
  color: red;
  display: flex;
  flex-direction: column-reverse;
  /* flex:1; */
  overflow-x: hidden;
  overflow-y: scroll;
  height: 69vh;
  /* flex:1; */
  background-image: url("../Images/background.jpg");
  /* background-size: cover; */
  background-repeat: repeat;
  padding-bottom: 10px;
}

.chat__message__form {
  /* position: absolute;
  bottom: 0px; */
}
